// carousel
.carousel-item{
    height: 92vh;
    overflow: hidden;

    img{
        height: 92vh;
        object-fit: cover;
        object-position: center;
    }

    .carousel-caption{

        h3{
            font-size: $lg;
            font-weight: 1000;
        }

        p{
            font-size: $md;
            font-weight: 500;
        }
    }
}