// footer
.footer{
    z-index: 998;
    width: 100%;
    padding: $md;
    background-color: $secondary;
    border-top: 2px solid $lightwhite;

    .footer-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        .footer-item{
            margin: 0 $xsm;

            .footer-link{
                text-decoration: none;
                color: $primary;
                font-size: $sm;

                img{
                    width: 20px;

                    &:hover{
                        opacity: 0.8;
                    }
                }
            }

            @include media-breakpoint-up(md){
                .footer-link{
                    font-size: $md;
                }
            }
        }
    }    
}